.products-page {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
  }
  
  /** Products **/
  
  .products-page .products {
    width: 100%;
    height: auto;
    display: flex;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .products .avatar-big-box {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .products .top-text {
    position: relative;
    width: 100%;
    height: 43px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .products-page .products .top-text p {
    position: relative;
    margin-left: 380px;
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #343434;
  }
  
  .products-page .products .single-search-big-box {
    position: relative;
    width: 337px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fffcfc;
    border: 1px solid #f8f8ff;
    box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
    border-radius: 18.5px;
    box-sizing: border-box;
  }
  
  .products-page .products .single-search-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .products-page .products .single-search-input {
    position: relative;
    width: 225px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    display: flex;
    border: none;
    border-radius: 10px 0px 0px 10px;
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4f547b;
  }
  
  .products-page .products .single-button-search {
    position: relative;
    width: 100px;
    height: 33px;
    color: #d7b586;
    display: flex;
    border-radius: 18px;
    background: #343434;
  }
  
  .products-page .products .prev-btn,
  .products .next-btn {
    width: 10%;
    height: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products-page .products .restaurant-avatars-wrapper {
    width: 90%;
    height: 147px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .products-page .products .restaurant-avatars-wrapper .restaurant-avatars {
    width: 108px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .products-page .products .restaurant-avatars img {
    width: 108px;
    height: 108px;
    border-radius: 50%;
  }
  
  .products-page .products .restaurant-avatars span {
    margin-top: 14px;
    font-family: "Solway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fffcfc;
  }
  
  .products-page .products .product-wrapper {
    margin-left: 25px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .products .product-wrapper .no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #e3c08d;
  }
  
  .products-page .products .product-card {
    margin-top: 40px;
    margin-right: 24px;
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .products .product-card .product-img {
    position: relative;
    width: 273px;
    height: 275px;
    background-size: cover;
    border-radius: 0px 50px 0px 0px;
  }
  
  .products-page .products .product-img .product-sale {
    margin: 10px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9200;
    box-shadow: 4px 6px 20px #0000001a;
    border-radius: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
  }
  
  .products-page .products .product-card .product-desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .products-page .products .product-desc .product-title {
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  
  .products-page .products .product-desc .product-desc {
    margin-top: 2px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #e3c08d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .products-page .products .product-img:before {
    border-radius: 0px 50px 0px 0px;
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .products-page .products .product-img:hover:before {
    border-radius: 0px 50px 0px 0px;
    opacity: 1;
  }
  
  .products-page .products .product-img img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .products-page .products .shop-btn {
    position: absolute;
    padding: 20px;
    top: 217px;
    width: 64px;
    height: 46px;
    left: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgb(198 0 255 / 66%);
    border: 2px solid #d7b686;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #f8f8ff;
  }
  
  .products-page .products .product-img:hover .shop-btn {
    opacity: 1;
  }
  
  .products-page .products .product-img:hover .view-btn {
    opacity: 1;
  }
  
  .products-page .products .view-btn {
    position: absolute;
    top: 223px;
    padding: 5px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  
  .products-page .products .pagination-section {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .products-page .products .brands-logo {
    margin-top: 60px;
    width: 100%;
    height: 630px;
    display: flex;
    background-color: #0d1518;
  }
  
  .products-page .products .brands-logo .family-brands {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .products .brands-logo .family-brands .brand-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .products-page .products .brands-logo .category-title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #d7b686;
  }
  
  .products-page .products .brands-logo .review-box {
    margin-top: 40px;
    padding: 20px;
    width: 260px;
    height: 350px;
    display: flex;
    object-fit: fill;
    box-shadow: 0px -1px 13px 5px #c8b3b340;
    border-radius: 20px;
  }
  
  .products-page .products .brands-logo .review-img {
    width: 110px;
    height: 110px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 37px;
  }
  
  .products-page .products .brands-logo .review-name {
    margin-top: 10px;
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #08090d;
  }
  
  .products-page .products .brands-logo .review-stars {
    margin-top: 10px;
    width: 149px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .products .brands-logo .review-prof {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #a1a1a1;
  }
  
  .products-page .products .brands-logo .review-desc {
    margin-top: 10px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616164;
  }
  
  .products-page .products .brands-logo .about-left {
    width: 50%;
    height: auto;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 50px 0px 0px;
    background-size: cover;
    background-position: center;
  }
  
  .products-page .products .address {
    margin-bottom: 60px;
    height: auto;
    background: #f8f8ff;
  }
  
  .products-page .products .address .address-area {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .products .address .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
  
  .products-page .products .about-left .about-left-desc {
    padding: 20px;
    width: 100%;
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 90.88%);
  }
  
  .products-page .products .about-left-desc span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #f8f8ff;
  }
  
  .products-page .products .brands-logo .about-right {
    margin-left: 20px;
    width: 50%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .products-page .products .about-left-desc p {
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #d4d4d4;
  }
  
  .products-page .products .about-right .about-right-img {
    width: 160px;
    height: 140px;
    left: 763px;
    top: 3653px;
    display: flex;
    border-radius: 0px 50px 0px 0px;
    background: url("https://i0.wp.com/educationplanetonline.com/wp-content/uploads/2022/03/Culinary-Schools-in-Europe-1.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .products-page .products .about-right .about-right-desc {
    padding-bottom: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .products-page .products .about-right-desc span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #f8f8ff;
  }
  
  .products-page .products .about-right-desc p {
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #d4d4d4;
  }
  
  .products-page .products .swiper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .products-page .products .dishes-filter-section {
    margin-top: 65px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .products-page .products .dishes-filter-box {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .products-page .products .dishes-filter-box .order {
    margin-right: 20px;
  }
  
  .products-page .products .list-category-section {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
  }
  
  .products-page .products .product-category {
    margin-top: 60px;
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .product-category .category-main {
    display: flex;
    flex-direction: row;
    justify-content: end;
    transform: rotate(-90deg); /* Standard CSS property */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* Edge */
    -o-transform: rotate(-90deg); /* Opera */
    -webkit-transform: rotate(-90deg);
  }
  
  .products-page .product-category .category-main button {
    min-width: auto;
    margin-right: 10px;
  }
  
  .products-page .products .css-1p7b7rs-MuiBadge-badge {
    position: absolute;
    top: 26%;
    right: 15%;
  }
  
/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}
